#----------------------------------------------------------------------------------------------------------
# TMB2005 UCF for Virtex2 4000 mezzanine card production TMB
#
# 08/01/05 Changed outputs to be fast 4mA, which is optimal according to scope tests
# 10/06/05 Changed mpc_tx outputs to default 12mA, to match TMB2004 performance
# 02/27/06 Production version, unmodified copy of tmb2005e_xc2v4000_production_v4_12mA_mpc.ucf
# 05/11/07 Loosen timing constraint from 75mhz to 50mhz
# 03/11/08 Remove spurious pulldowns, put back xil-deleted I/O speeds, add pulldown for mez_done
# 08/13/08 Remove alct_tx mux LOCs
# 03/26/09 Reinstate alct_tx LOCs for new x_mux_ddr_sync.v module in alct.v
# 30/30/09 Rename alct_tx LOCs for interstage FFs
# 04/03/09 Alter ALCT tx output drive
# 05/29/09 Rename ddr sync stage ffs for alct muonic
# 07/10/09 Add IOB constraints for cfeb muonic to avoid clock domain conflicts
# 08/04/08 Add location constraints for digital phase shifter multiplexers
# 08/05/09 Add location constraints for cfeb ddrs moved to fabric
# 08/06/09 Unassign conflicting cfeb ddrs from iobs
# 08/06/09 Increase maxdelay for cfeb ddrs in fabric from 1ns to 1.2ns
# 08/06/09 Add alct and cfeb ddr mux location constraints
# 08/10/09 Remove alct_rxclock period constraint
# 08/12/09 Add tig for quadrant selects, close clock mux area groups to reduce congestion
# 08/13/09 Add area constraints for alct receiver with posneg
# 08/14/09 Expand alct rx area, turn off alct ff hard locs
# 08/14/09 Revert to alct hard ff locs
# 08/17/09 New locs for alct rx sync stage FFs, 2x version
# 08/18/09 New locs for alct rx sync stage, 1x version
# 08/20/09 New locs for alct rx sync stage, 2x version
# 09/21/09 Tune muonic area constraints to skirt around phaser mux units
#----------------------------------------------------------------------------------------------------------
NET "_ccb_tx<26>"	LOC = "AE9";	# I/O_1
NET "_ccb_tx<0>"	LOC = "AE8";	# I/O_2
NET "_ccb_tx<1>"	LOC = "AD9";	# I/O_3
NET "_ccb_tx<2>"	LOC = "AD8";	# I/O_4
NET "_ccb_tx<3>"	LOC = "AE5";	# I/O_5
NET "_ccb_tx<4>"	LOC = "AE10";	# I/O_6
NET "_ccb_tx<5>"	LOC = "AD10";	# I/O_7
NET "_ccb_tx<6>"	LOC = "AD5";	# I/O_8
NET "_ccb_tx<7>"	LOC = "AE6";	# I/O_9
NET "_ccb_tx<8>"	LOC = "AD7";	# I/O_10
NET "_ccb_tx<9>"	LOC	= "AD6";	# I/O_11
NET "_ccb_tx<10>"	LOC = "AF1";	# I/O_12
NET "_ccb_tx<11>"	LOC = "AE14";	# I/O_13
NET "_ccb_tx<12>"	LOC = "AE15";	# I/O_14
NET "_ccb_tx<13>"	LOC = "AF14";	# I/O_15
NET "_ccb_tx<14>"	LOC = "AF15";	# I/O_16
NET "_ccb_tx<15>"	LOC = "AC6";	# I/O_17
NET "_ccb_tx<16>"	LOC = "AB6";	# I/O_18
NET "_ccb_tx<17>"	LOC = "AD3";	# I/O_19
#
NET "_ccb_rx<18>" LOC = "AD17"; # I/O_20
NET "_ccb_rx<19>" LOC = "AC3"; # I/O_21
NET "_ccb_rx<20>" LOC = "AA9"; # I/O_22
NET "_ccb_rx<21>" LOC = "AA4"; # I/O_23
NET "_ccb_rx<22>" LOC = "AB4"; # I/O_24
NET "_ccb_rx<23>" LOC = "AA6"; # I/O_25
NET "_ccb_rx<24>" LOC = "AA8"; # I/O_26
NET "_ccb_rx<25>" LOC = "Y7"; # I/O_27
NET "_ccb_rx<26>" LOC = "AA1"; # I/O_28
NET "_ccb_rx<27>" LOC = "Y9"; # I/O_29
NET "_ccb_rx<28>" LOC = "AA10"; # I/O_30
NET "_ccb_rx<29>" LOC = "Y10"; # I/O_31
NET "_ccb_rx<30>" LOC = "AA5"; # I/O_32
NET "_ccb_rx<31>" LOC = "V7"; # I/O_33
NET "_ccb_rx<32>" LOC = "W7"; # I/O_34
NET "_ccb_rx<33>" LOC = "AB5"; # I/O_35
NET "_ccb_rx<0>" LOC = "AA2"; # I/O_36
NET "_ccb_rx<1>" LOC = "U7"; # I/O_37
NET "_ccb_rx<2>" LOC = "R9"; # I/O_38
NET "_ccb_rx<3>" LOC = "R10"; # I/O_39
NET "_ccb_rx<4>" LOC = "U1"; # I/O_40
NET "_ccb_rx<5>" LOC = "R4"; # I/O_41
NET "_ccb_rx<6>" LOC = "R8"; # I/O_42
NET "_ccb_rx<7>" LOC = "T7"; # I/O_43
NET "_ccb_rx<8>" LOC = "T8"; # I/O_44
NET "_ccb_rx<9>" LOC = "P4"; # I/O_45
NET "_ccb_rx<10>" LOC = "P10"; # I/O_46
NET "_ccb_rx<11>" LOC = "P9"; # I/O_47
NET "_ccb_rx<12>" LOC = "R3"; # I/O_48
NET "_ccb_rx<13>" LOC = "N6"; # I/O_49
NET "_ccb_rx<14>" LOC = "P6"; # I/O_50
NET "_ccb_rx<15>" LOC = "T2"; # I/O_51
NET "_ccb_rx<16>" LOC = "P5"; # I/O_52
NET "_ccb_rx<17>" LOC = "T3"; # I/O_53
#
NET "vme_d<0>" LOC = "R1"; # I/O_54
NET "vme_d<1>" LOC = "N5"; # I/O_55
NET "vme_d<2>" LOC = "N4"; # I/O_56
NET "vme_d<3>" LOC = "AC9"; # I/O_57
NET "vme_d<4>" LOC = "L3"; # I/O_58
NET "vme_d<5>" LOC = "N3"; # I/O_59
NET "vme_d<6>" LOC = "P3"; # I/O_60
NET "vme_d<7>" LOC = "J15"; # I/O_61
NET "vme_d<8>" LOC = "J14"; # I/O_62
NET "vme_d<9>" LOC = "K16"; # I/O_63
NET "vme_d<10>" LOC = "K15"; # I/O_64
NET "vme_d<11>" LOC = "H15"; # I/O_65
NET "vme_d<12>" LOC = "G17"; # I/O_66
NET "vme_d<13>" LOC = "H14"; # I/O_67
NET "vme_d<14>" LOC = "G16"; # I/O_68
NET "vme_d<15>" LOC = "F14"; # I/O_69
#
NET "vme_am<0>" LOC = "F13"; # I/O_70
NET "vme_am<1>" LOC = "G15"; # I/O_71
NET "vme_am<2>" LOC = "F15"; # I/O_72
NET "vme_am<3>" LOC = "D13"; # I/O_73
NET "vme_am<4>" LOC = "D12"; # I/O_74
NET "vme_am<5>" LOC = "E13"; # I/O_75
#
NET "vme_a<1>" LOC = "E14"; # I/O_76
NET "vme_a<2>" LOC = "C14"; # I/O_77
NET "vme_a<3>" LOC = "C13"; # I/O_78
NET "vme_a<4>" LOC = "C12"; # I/O_79
NET "vme_a<5>" LOC = "C11"; # I/O_80
NET "vme_a<6>" LOC = "M2"; # I/O_81
NET "vme_a<7>" LOC = "AC4"; # I/O_82
NET "vme_a<8>" LOC = "AB10"; # I/O_83
NET "vme_a<9>" LOC = "L1"; # I/O_84
NET "vme_a<10>" LOC = "AB8"; # I/O_85
NET "vme_a<11>" LOC = "AB7"; # I/O_86
NET "vme_a<12>" LOC = "K2"; # I/O_87
NET "vme_a<13>" LOC = "J2"; # I/O_88
NET "vme_a<14>" LOC = "J1"; # I/O_89
NET "vme_a<15>" LOC = "H2"; # I/O_90
NET "vme_a<16>" LOC = "W3"; # I/O_91
NET "vme_a<17>" LOC = "V10"; # I/O_92
NET "vme_a<18>" LOC = "V6"; # I/O_93
NET "vme_a<19>" LOC = "V5"; # I/O_94
NET "vme_a<20>" LOC = "F2"; # I/O_95
NET "vme_a<21>" LOC = "G2"; # I/O_96
NET "vme_a<22>" LOC = "U8"; # I/O_97
NET "vme_a<23>" LOC = "U6"; # I/O_98
#
NET "_vme_cmd<10>" LOC = "U3"; # I/O_99
NET "_vme_cmd<9>" LOC = "T6"; # I/O_100
NET "_vme_cmd<8>" LOC = "F1"; # I/O_101
NET "_vme_cmd<7>" LOC = "P8"; # I/O_102
NET "_vme_cmd<6>" LOC = "M7"; # I/O_103
NET "_vme_cmd<5>" LOC = "N8"; # I/O_104
NET "_vme_cmd<4>" LOC = "N7"; # I/O_105
NET "_vme_cmd<3>" LOC = "M10"; # I/O_106
NET "_vme_cmd<2>" LOC = "M9"; # I/O_107
NET "_vme_cmd<1>" LOC = "N9"; # I/O_108
NET "_vme_cmd<0>" LOC = "L6"; # I/O_109
#
NET "vme_reply<0>" LOC = "M6"; # I/O_110
NET "vme_reply<1>" LOC = "J8"; # I/O_111*
NET "vme_reply<2>" LOC = "L10"; # I/O_112*
NET "vme_reply<3>" LOC = "L9"; # I/O_113*
NET "vme_reply<4>" LOC = "L8"; # I/O_114*
NET "vme_reply<5>" LOC = "L7"; # I/O_115
NET "vme_reply<6>" LOC = "E2"; # I/O_116
#
NET "_vme_geo<0>" LOC = "L5"; # I/O_117
NET "_vme_geo<1>" LOC = "D2"; # I/O_118
NET "_vme_geo<2>" LOC = "D1"; # I/O_119
NET "_vme_geo<3>" LOC = "E1"; # I/O_120
NET "_vme_geo<4>" LOC = "K8"; # I/O_121
NET "_vme_geo<5>" LOC = "D3"; # I/O_122
NET "_vme_geo<6>" LOC = "K6"; # I/O_123
#
NET "_hard_reset_alct_fpga" LOC = "C2"; # I/O_124
NET "_hard_reset_tmb_fpga" LOC = "K4"; # I/O_125
#
NET "cfeb0_rx<23>" LOC = "J9"; # I/O_126
NET "cfeb0_rx<22>" LOC = "B3"; # I/O_127
NET "cfeb0_rx<21>" LOC = "J7"; # I/O_128
NET "cfeb0_rx<20>" LOC = "J6"; # I/O_129
NET "cfeb0_rx<19>" LOC = "J5"; # I/O_130
NET "cfeb0_rx<18>" LOC = "J4"; # I/O_131
NET "cfeb0_rx<17>" LOC = "B4"; # I/O_132
NET "cfeb0_rx<16>" LOC = "H7"; # I/O_133
NET "cfeb0_rx<15>" LOC = "H6"; # I/O_134
NET "cfeb0_rx<14>" LOC = "H5"; # I/O_135
NET "cfeb0_rx<13>" LOC = "H4"; # I/O_136
NET "cfeb0_rx<12>" LOC = "A4"; # I/O_137
NET "cfeb0_rx<11>" LOC = "G6"; # I/O_138
NET "cfeb0_rx<10>" LOC = "G5"; # I/O_139
NET "cfeb0_rx<9>" LOC = "B5"; # I/O_140
NET "cfeb0_rx<8>" LOC = "F5"; # I/O_141
NET "cfeb0_rx<7>" LOC = "F4"; # I/O_142
NET "cfeb0_rx<6>" LOC = "A5"; # I/O_143
NET "cfeb0_rx<5>" LOC = "B6"; # I/O_144
NET "cfeb0_rx<4>" LOC = "E4"; # I/O_145
NET "cfeb0_rx<3>" LOC = "A6"; # I/O_146
NET "cfeb0_rx<2>" LOC = "C6"; # I/O_147
NET "cfeb0_rx<1>" LOC = "D6"; # I/O_148
NET "cfeb0_rx<0>" LOC = "C8"; # I/O_149
#
NET "cfeb1_rx<23>" LOC = "C7"; # I/O_150
NET "cfeb1_rx<22>" LOC = "E7"; # I/O_151
NET "cfeb1_rx<21>" LOC = "D8"; # I/O_152
NET "cfeb1_rx<20>" LOC = "E8"; # I/O_153
NET "cfeb1_rx<19>" LOC = "E9"; # I/O_154
NET "cfeb1_rx<18>" LOC = "C9"; # I/O_155
NET "cfeb1_rx<17>" LOC = "D9"; # I/O_156
NET "cfeb1_rx<16>" LOC = "H9"; # I/O_157
NET "cfeb1_rx<15>" LOC = "H10"; # I/O_158
NET "cfeb1_rx<14>" LOC = "G9"; # I/O_159
NET "cfeb1_rx<13>" LOC = "F10"; # I/O_160
NET "cfeb1_rx<12>" LOC = "G10"; # I/O_161
NET "cfeb1_rx<11>" LOC = "G11"; # I/O_162
NET "cfeb1_rx<10>" LOC = "J10"; # I/O_163
NET "cfeb1_rx<9>" LOC = "H11"; # I/O_164
NET "cfeb1_rx<8>" LOC = "E10"; # I/O_165
NET "cfeb1_rx<7>" LOC = "E11"; # I/O_166
NET "cfeb1_rx<6>" LOC = "D10"; # I/O_167
NET "cfeb1_rx<5>" LOC = "D11"; # I/O_168
NET "cfeb1_rx<4>" LOC = "J11"; # I/O_169
NET "cfeb1_rx<3>" LOC = "J12"; # I/O_170
NET "cfeb1_rx<2>" LOC = "K12"; # I/O_171
NET "cfeb1_rx<1>" LOC = "J13"; # I/O_172
NET "cfeb1_rx<0>" LOC = "H12"; # I/O_173
#
NET "cfeb2_rx<23>" LOC = "H13"; # I/O_174
NET "cfeb2_rx<22>" LOC = "G12"; # I/O_175
NET "cfeb2_rx<21>" LOC = "G13"; # I/O_176
NET "cfeb2_rx<20>" LOC = "A9"; # I/O_177*
NET "cfeb2_rx<19>" LOC = "K14"; # I/O_178
NET "cfeb2_rx<18>" LOC = "C15"; # I/O_179
NET "cfeb2_rx<17>" LOC = "C16"; # I/O_180
NET "cfeb2_rx<16>" LOC = "F16"; # I/O_181
NET "cfeb2_rx<15>" LOC = "F17"; # I/O_182
NET "cfeb2_rx<14>" LOC = "D16"; # I/O_183
NET "cfeb2_rx<13>" LOC = "D17"; # I/O_184
#
NET "vstat<0>" LOC = "A11"; # I/O_185*
NET "alct_rxclockd" LOC = "H17"; # I/O_186 #dual
NET "vstat<1>" LOC = "A12"; # I/O_187*
NET "mpc_clock" LOC = "E17"; # I/O_188
#
NET "cfeb2_rx<12>" LOC = "C18"; # I/O_189
NET "cfeb2_rx<11>" LOC = "D18"; # I/O_190
NET "cfeb2_rx<10>" LOC = "F18"; # I/O_191
#
NET "vstat<2>" LOC = "B14"; # I/O_192*
NET "rpc_dsn" LOC = "K18"; # I/O_193 #rpc_free_rx0 rpc_rxalt<1>
NET "vstat<3>" LOC = "B21"; # I/O_194*
#
NET "cfeb2_rx<9>" LOC = "C19"; # I/O_195
NET "cfeb2_rx<8>" LOC = "D19"; # I/O_196
#
NET "tmb_clock0d" LOC = "E19"; # I/O_197 #dual
#
NET "cfeb2_rx<7>" LOC = "F19"; # I/O_198
NET "cfeb2_rx<6>" LOC = "J21"; # I/O_199
NET "cfeb2_rx<5>" LOC = "D22"; # I/O_200
NET "cfeb2_rx<4>" LOC = "J22"; # I/O_201
NET "cfeb2_rx<3>" LOC = "K22"; # I/O_202
NET "cfeb2_rx<2>" LOC = "H22"; # I/O_203
NET "cfeb2_rx<1>" LOC = "D23"; # I/O_204
NET "cfeb2_rx<0>" LOC = "F23"; # I/O_205
#
NET "cfeb3_rx<23>" LOC = "J23"; # I/O_206
NET "cfeb3_rx<22>" LOC = "K23"; # I/O_207
NET "cfeb3_rx<21>" LOC = "H23"; # I/O_208
NET "cfeb3_rx<20>" LOC = "C24"; # I/O_209
NET "cfeb3_rx<19>" LOC = "D24"; # I/O_210
NET "cfeb3_rx<18>" LOC = "E24"; # I/O_211
NET "cfeb3_rx<17>" LOC = "F24"; # I/O_212
NET "cfeb3_rx<16>" LOC = "G24"; # I/O_213
NET "cfeb3_rx<15>" LOC = "H24"; # I/O_214
NET "cfeb3_rx<14>" LOC = "J24"; # I/O_215
NET "cfeb3_rx<13>" LOC = "D25"; # I/O_216
NET "cfeb3_rx<12>" LOC = "E25"; # I/O_217
NET "cfeb3_rx<11>" LOC = "F25"; # I/O_218
NET "cfeb3_rx<10>" LOC = "G25"; # I/O_219
NET "cfeb3_rx<9>" LOC = "H25"; # I/O_220
NET "cfeb3_rx<8>" LOC = "A26"; # I/O_221
NET "cfeb3_rx<7>" LOC = "D26"; # I/O_222
NET "cfeb3_rx<6>" LOC = "A24"; # I/O_223
NET "cfeb3_rx<5>" LOC = "C26"; # I/O_224
NET "cfeb3_rx<4>" LOC = "G26"; # I/O_225
NET "cfeb3_rx<3>" LOC = "H26"; # I/O_226
NET "cfeb3_rx<2>" LOC = "C27"; # I/O_227
NET "cfeb3_rx<1>" LOC = "D27"; # I/O_228
NET "cfeb3_rx<0>" LOC = "F27"; # I/O_229
#
NET "cfeb4_rx<23>" LOC = "A28"; # I/O_230
NET "cfeb4_rx<22>" LOC = "B28"; # I/O_231
NET "cfeb4_rx<21>" LOC = "D29"; # I/O_232
NET "cfeb4_rx<20>" LOC = "A29"; # I/O_233
NET "cfeb4_rx<19>" LOC = "E31"; # I/O_234
NET "cfeb4_rx<18>" LOC = "F32"; # I/O_235
NET "cfeb4_rx<17>" LOC = "F30"; # I/O_236
NET "cfeb4_rx<16>" LOC = "F31"; # I/O_237
NET "cfeb4_rx<15>" LOC = "B29"; # I/O_238
NET "cfeb4_rx<14>" LOC = "G29"; # I/O_239
NET "cfeb4_rx<13>" LOC = "G30"; # I/O_240
NET "cfeb4_rx<12>" LOC = "A30"; # I/O_241
NET "cfeb4_rx<11>" LOC = "H28"; # I/O_242
NET "cfeb4_rx<10>" LOC = "H29"; # I/O_243
NET "cfeb4_rx<9>" LOC = "B30"; # I/O_244
NET "cfeb4_rx<8>" LOC = "H31"; # I/O_245
NET "cfeb4_rx<7>" LOC = "A31"; # I/O_246
NET "cfeb4_rx<6>" LOC = "B31"; # I/O_247
NET "cfeb4_rx<5>" LOC = "J27"; # I/O_248
NET "cfeb4_rx<4>" LOC = "D33"; # I/O_249
NET "cfeb4_rx<3>" LOC = "B32"; # I/O_250
NET "cfeb4_rx<2>" LOC = "J30"; # I/O_251
NET "cfeb4_rx<1>" LOC = "E32"; # I/O_252
NET "cfeb4_rx<0>" LOC = "D34"; # I/O_253
#
NET "cfeb_clock_en<4>" LOC = "K24"; # I/O_254
NET "cfeb_clock_en<3>" LOC = "K26"; # I/O_255
NET "cfeb_clock_en<2>" LOC = "K27"; # I/O_256
NET "cfeb_clock_en<1>" LOC = "K28"; # I/O_257
NET "cfeb_clock_en<0>" LOC = "K29"; # I/O_258
#
NET "cfeb_oe" LOC = "K30"; # I/O_259
NET "rpc_smbrx" LOC = "K31"; # I/O_260 #rpc_rxalt<0>
NET "alct_txa<17>" LOC = "L25"; # I/O_261
NET "gp_io4" LOC = "L26"; # I/O_262
NET "gp_io3" LOC = "L27"; # I/O_263
NET "gp_io2" LOC = "L28"; # I/O_264
NET "gp_io1" LOC = "L29"; # I/O_265
NET "gp_io0" LOC = "L30"; # I/O_266
NET "_t_crit" LOC = "G33"; # I/O_267
NET "smb_clk" LOC = "M25"; # I/O_268
NET "smb_data" LOC = "F33"; # I/O_269
NET "adc_io3_dout" LOC = "M27"; # I/O_270
NET "adc_io<2>" LOC = "M28"; # I/O_271
NET "adc_io<1>" LOC = "G34"; # I/O_272
NET "adc_io<0>" LOC = "M31"; # I/O_273
NET "tmb_sn" LOC = "F34"; # I/O_274
NET "prom_led<7>" LOC = "N26"; # I/O_275
NET "prom_led<6>" LOC = "N27"; # I/O_276
NET "prom_led<5>" LOC = "N28"; # I/O_277
NET "prom_led<4>" LOC = "P27"; # I/O_278
NET "prom_led<3>" LOC = "T29"; # I/O_279
NET "prom_led<2>" LOC = "T30"; # I/O_280
NET "prom_led<1>" LOC = "U26"; # I/O_281
NET "prom_led<0>" LOC = "U27"; # I/O_282
NET "prom_ctrl<5>" LOC = "U29"; # I/O_283
NET "prom_ctrl<4>" LOC = "U30"; # I/O_284
NET "prom_ctrl<3>" LOC = "U31"; # I/O_285
NET "prom_ctrl<2>" LOC = "V31"; # I/O_286
NET "prom_ctrl<1>" LOC = "V26"; # I/O_287
NET "prom_ctrl<0>" LOC = "V27"; # I/O_288
NET "sel_usr<3>" LOC = "V30"; # I/O_289
NET "sel_usr<2>" LOC = "V32"; # I/O_290
NET "sel_usr<1>" LOC = "W30"; # I/O_291
NET "sel_usr<0>" LOC = "W31"; # I/O_292
NET "jtag_usr<3>" LOC = "W32"; # I/O_293
NET "jtag_usr<2>" LOC = "Y31"; # I/O_294
NET "jtag_usr<1>" LOC = "AA27"; # I/O_295
NET "jtag_usr0_tdo" LOC = "AB25"; # I/O_296
NET "step<4>" LOC = "AB26"; # I/O_297
NET "step<3>" LOC = "AB27"; # I/O_298
NET "step<2>" LOC = "J32"; # I/O_299
NET "step<1>" LOC = "G20"; # I/O_300
NET "step<0>" LOC = "C23"; # I/O_301
NET "ddd_serial_out" LOC = "C22"; # I/O_302
NET "ddd_adr_latch" LOC = "D20"; # I/O_303
NET "ddd_clock" LOC = "D21"; # I/O_304
NET "ddd_serial_in" LOC = "E21"; # I/O_305
NET "rpc_loop" LOC = "E22"; # I/O_306
NET "_dmb_oe" LOC = "F22"; # I/O_307
NET "dmb_loop" LOC = "F21"; # I/O_308
NET "gtl_loop" LOC = "G23"; # I/O_309
NET "ccb_status_oe" LOC = "G22"; # I/O_310
NET "_gtl_oe" LOC = "H20"; # I/O_311
NET "alct_rx<28>" LOC = "H21"; # I/O_312
NET "alct_rx<27>" LOC = "G18"; # I/O_313
NET "alct_rx<26>" LOC = "G19"; # I/O_314
NET "alct_rx<25>" LOC = "J20"; # I/O_315
NET "alct_rx<24>" LOC = "K21"; # I/O_316
NET "alct_rx<23>" LOC = "K19"; # I/O_317
NET "alct_rx<22>" LOC = "K20"; # I/O_318
NET "alct_rx<21>" LOC = "J34"; # I/O_319
NET "alct_rx<20>" LOC = "J33"; # I/O_320
NET "alct_rx<19>" LOC = "L32"; # I/O_321
NET "alct_rx<18>" LOC = "M32"; # I/O_322
NET "alct_rx<17>" LOC = "M34"; # I/O_323
NET "alct_rx<16>" LOC = "P32"; # I/O_324
NET "alct_rx<15>" LOC = "N32"; # I/O_325
NET "alct_rx<14>" LOC = "N31"; # I/O_326
NET "alct_rx<13>" LOC = "N30"; # I/O_327
NET "alct_rx<12>" LOC = "N29"; # I/O_328
NET "alct_rx<11>" LOC = "U34"; # I/O_329
NET "alct_rx<10>" LOC = "P31"; # I/O_330
NET "alct_rx<9>" LOC = "P30"; # I/O_331
NET "alct_rx<8>" LOC = "P29"; # I/O_332
NET "alct_rx<7>" LOC = "U28"; # I/O_333
NET "alct_rx<6>" LOC = "P25"; # I/O_334
NET "alct_rx<5>" LOC = "R29"; # I/O_335
NET "alct_rx<4>" LOC = "R28"; # I/O_336
NET "alct_rx<3>" LOC = "T28"; # I/O_337
NET "alct_rx<2>" LOC = "T27"; # I/O_338
NET "alct_rx<1>" LOC = "V28"; # I/O_339
NET "rpc_tx<3>" LOC = "R27"; # I/O_340
NET "alct_rxoe" LOC = "R26"; # I/O_341#rpc_free0 was front_rear
NET "alct_loop" LOC = "V34"; # I/O_342
NET "alct_txb<23>" LOC = "V33"; # I/O_343
NET "alct_txb<22>" LOC = "AA25"; # I/O_344
NET "alct_txb<21>" LOC = "Y25"; # I/O_345
NET "alct_txb<20>" LOC = "W27"; # I/O_346
NET "alct_txoe" LOC = "W28"; # I/O_347 #was _alct_oe
NET "alct_clock_en" LOC = "Y28"; # I/O_348
NET "alct_txb<19>" LOC = "Y29"; # I/O_349
NET "alct_txa<16>" LOC = "Y26"; # I/O_350
NET "alct_txa<15>" LOC = "AA31"; # I/O_351
NET "alct_txa<14>" LOC = "Y27"; # I/O_352
NET "alct_txa<13>" LOC = "AA30"; # I/O_353
NET "alct_txa<12>" LOC = "AA29"; # I/O_354
NET "alct_txa<11>" LOC = "AA26"; # I/O_355
NET "alct_txa<10>" LOC = "AB32"; # I/O_356
NET "alct_txa<9>" LOC = "AB31"; # I/O_357
NET "alct_txa<8>" LOC = "AB30"; # I/O_358
NET "alct_txa<7>" LOC = "AB29"; # I/O_359
NET "alct_txa<6>" LOC = "AB28"; # I/O_360
NET "alct_txa<5>" LOC = "AC32"; # I/O_361
NET "rpc_rx<36>" LOC = "AC28"; # I/O_362
NET "rpc_rx<37>" LOC = "AD19"; # I/O_363
NET "rpc_rx<32>" LOC = "AD18"; # I/O_364
NET "rpc_rx<33>" LOC = "AF33"; # I/O_365
NET "rpc_rx<34>" LOC = "AE20"; # I/O_366
NET "rpc_rx<35>" LOC = "AC31"; # I/O_367
NET "rpc_rx<0>" LOC = "AD31"; # I/O_368
NET "rpc_rx<1>" LOC = "AD26"; # I/O_369
NET "rpc_rx<2>" LOC = "AD27"; # I/O_370
NET "rpc_rx<3>" LOC = "AD34"; # I/O_371
NET "rpc_rx<4>" LOC = "AD29"; # I/O_372
NET "rpc_rx<5>" LOC = "AD30"; # I/O_373
NET "rpc_rx<6>" LOC = "AE30"; # I/O_374
NET "rpc_rx<7>" LOC = "AD33"; # I/O_375
NET "rpc_rx<8>" LOC = "AE24"; # I/O_376
NET "rpc_rx<9>" LOC = "AD25"; # I/O_377
NET "rpc_rx<10>" LOC = "AD28"; # I/O_378
NET "rpc_rx<11>" LOC = "AE27"; # I/O_379
NET "rpc_rx<12>" LOC = "AE28"; # I/O_380
NET "rpc_rx<13>" LOC = "AE29"; # I/O_381
NET "rpc_rx<14>" LOC = "AF34"; # I/O_382
NET "rpc_rx<15>" LOC = "AE31"; # I/O_383
NET "rpc_rx<16>" LOC = "AF25"; # I/O_384
NET "rpc_rx<17>" LOC = "AF26"; # I/O_385
NET "rpc_rx<18>" LOC = "AF27"; # I/O_386
NET "rpc_rx<19>" LOC = "AF28"; # I/O_387
NET "rpc_rx<20>" LOC = "AF29"; # I/O_388
NET "rpc_rx<21>" LOC = "AF30"; # I/O_389
NET "rpc_rx<22>" LOC = "AF31"; # I/O_390
NET "rpc_rx<23>" LOC = "AF32"; # I/O_391
NET "rpc_rx<24>" LOC = "AG26"; # I/O_392
NET "rpc_rx<25>" LOC = "AG28"; # I/O_393
NET "rpc_rx<26>" LOC = "AG29"; # I/O_394
NET "rpc_rx<27>" LOC = "AG30"; # I/O_395
NET "rpc_rx<28>" LOC = "AG31"; # I/O_396
NET "rpc_rx<29>" LOC = "AG32"; # I/O_397
NET "rpc_rx<30>" LOC = "AH29"; # I/O_398
NET "rpc_rx<31>" LOC = "AH32"; # I/O_399
NET "rpc_tx<2>" LOC = "AJ31"; # I/O_400 #rpc_looptm
NET "rpc_tx<1>" LOC = "AJ32"; # I/O_401 # rpc_posneg
NET "rpc_tx<0>" LOC = "AK31"; # I/O_402 # rpc_sync
NET "mez_done" LOC = "AL32"; # I/O_403
NET "_mpc_tx<27>" LOC = "AM28"; # I/O_404
NET "_mpc_tx<28>" LOC = "AM29"; # I/O_405
NET "mez_sn" LOC = "AN29"; # I/O_406
NET "_mpc_tx<29>" LOC = "AJ27"; # I/O_407
NET "_mpc_tx<30>" LOC = "AK27"; # I/O_408
NET "_mpc_tx<31>" LOC = "AL27"; # I/O_409
NET "_mpc_tx<0>" LOC = "AM27"; # I/O_410
NET "_mpc_tx<1>" LOC = "AH26"; # I/O_411
NET "_mpc_tx<2>" LOC = "AJ26"; # I/O_412
NET "_mpc_tx<3>" LOC = "AK26"; # I/O_413
NET "_mpc_tx<4>" LOC = "AL26"; # I/O_414
NET "_mpc_tx<5>" LOC = "AM26"; # I/O_415
NET "_mpc_tx<6>" LOC = "AK24"; # I/O_416
NET "_mpc_tx<7>" LOC = "AJ25"; # I/O_417
NET "_mpc_tx<8>" LOC = "AK25"; # I/O_418
NET "_mpc_tx<9>" LOC = "AG23"; # I/O_419
NET "_mpc_tx<10>" LOC = "AF24"; # I/O_420
NET "_mpc_tx<11>" LOC = "AH24"; # I/O_421
NET "_mpc_tx<12>" LOC = "AP28"; # I/O_422
NET "_mpc_tx<13>" LOC = "AP26"; # I/O_423
NET "_mpc_tx<14>" LOC = "AL24"; # I/O_424
NET "_mpc_tx<15>" LOC = "AP23"; # I/O_425
NET "dmb_tx<48>" LOC = "AF23"; # I/O_426
NET "dmb_tx<47>" LOC = "AH23"; # I/O_427
NET "dmb_tx<46>" LOC = "AJ23"; # I/O_428
NET "dmb_tx<45>" LOC = "AF22"; # I/O_429
NET "dmb_tx<44>" LOC = "AG22"; # I/O_430
NET "dmb_rx<5>" LOC = "AH22"; # I/O_431
NET "dmb_rx<4>" LOC = "AG21"; # I/O_432
NET "dmb_rx<3>" LOC = "AM20"; # I/O_433
NET "dmb_rx<2>" LOC = "AJ19"; # I/O_434
NET "dmb_rx<1>" LOC = "AN21"; # I/O_435*
NET "dmb_rx<0>" LOC = "AL19"; # I/O_436
NET "dmb_tx<43>" LOC = "AM19"; # I/O_437
NET "dmb_tx<42>" LOC = "AL18"; # I/O_438
NET "dmb_tx<41>" LOC = "AN14"; # I/O_439
NET "dmb_tx<40>" LOC = "AJ18"; # I/O_440
NET "dmb_tx<39>" LOC = "AP14"; # I/O_441
NET "dmb_tx<38>" LOC = "AJ17"; # I/O_442
NET "dmb_tx<37>" LOC = "AL17"; # I/O_443
NET "dmb_tx<36>" LOC = "AM17"; # I/O_444
NET "dmb_tx<35>" LOC = "AJ16"; # I/O_445
NET "dmb_tx<34>" LOC = "AP13"; # I/O_446
NET "dmb_tx<33>" LOC = "AL16"; # I/O_447
NET "dmb_tx<32>" LOC = "AM16"; # I/O_448
NET "dmb_tx<31>" LOC = "AG14"; # I/O_449
NET "dmb_tx<30>" LOC = "AE13"; # I/O_450
NET "dmb_tx<29>" LOC = "AF13"; # I/O_451
NET "dmb_tx<28>" LOC = "AG13"; # I/O_452
NET "dmb_tx<27>" LOC = "AH13"; # I/O_453
NET "dmb_tx<26>" LOC = "AE12"; # I/O_454
NET "dmb_tx<25>" LOC = "AF12"; # I/O_455
NET "dmb_tx<24>" LOC = "AG12"; # I/O_456
NET "dmb_tx<23>" LOC = "AH12"; # I/O_457
NET "dmb_tx<22>" LOC = "AJ12"; # I/O_458
NET "dmb_tx<21>" LOC = "AG11"; # I/O_459
NET "dmb_tx<20>" LOC = "AJ11"; # I/O_460
NET "dmb_tx<19>" LOC = "AK11"; # I/O_461
NET "dmb_tx<18>" LOC = "AL11"; # I/O_462
NET "dmb_tx<17>" LOC = "AM11"; # I/O_463
NET "dmb_tx<16>" LOC = "AH10"; # I/O_464
NET "dmb_tx<15>" LOC = "AJ10"; # I/O_465
NET "dmb_tx<14>" LOC = "AK10"; # I/O_466
NET "dmb_tx<13>" LOC = "AL10"; # I/O_467
NET "dmb_tx<12>" LOC = "AH9"; # I/O_468
NET "dmb_tx<11>" LOC = "AJ9"; # I/O_469
NET "dmb_tx<10>" LOC = "AL9"; # I/O_470
NET "dmb_tx<9>" LOC = "AM9"; # I/O_471
NET "dmb_tx<8>" LOC = "AL8"; # I/O_472
NET "dmb_tx<7>" LOC = "AM8"; # I/O_473
NET "dmb_tx<6>" LOC = "AM6"; # I/O_474
NET "dmb_tx<5>" LOC = "AL6"; # I/O_475
NET "dmb_tx<4>" LOC = "AM7"; # I/O_476
NET "_ccb_rx<37>" LOC = "AN3"; # I/O_477
NET "_ccb_rx<38>" LOC = "AJ5"; # I/O_478
NET "_ccb_rx<39>" LOC = "AJ4"; # I/O_479
NET "_ccb_rx<40>" LOC = "AJ3"; # I/O_480
NET "_ccb_rx<41>" LOC = "AH6"; # I/O_481
NET "_ccb_rx<42>" LOC = "AH5"; # I/O_482
NET "_ccb_rx<43>" LOC = "AH3"; # I/O_483
NET "_ccb_rx<44>" LOC = "AG9"; # I/O_484
NET "_ccb_rx<45>" LOC = "AG7"; # I/O_485
NET "_ccb_rx<46>" LOC = "AG6"; # I/O_486
NET "_ccb_rx<47>" LOC = "AG5"; # I/O_487
NET "_ccb_rx<48>" LOC = "AG4"; # I/O_488
NET "_ccb_rx<49>" LOC = "AG3"; # I/O_489
NET "_ccb_rx<50>" LOC = "AF11"; # I/O_490
NET "_ccb_rx<34>" LOC = "AF10"; # I/O_491
NET "_ccb_rx<35>" LOC = "AF9"; # I/O_492
NET "_ccb_tx<18>" LOC = "AF8"; # I/O_493
NET "_ccb_tx<19>" LOC = "AF7"; # I/O_494
NET "_ccb_tx<20>" LOC = "AF6"; # I/O_495
NET "_ccb_tx<21>" LOC = "AF5"; # I/O_496
NET "_ccb_tx<22>" LOC = "AF4"; # I/O_497
NET "_ccb_tx<23>" LOC = "AF3"; # I/O_498
NET "_ccb_tx<24>" LOC = "AE11"; # I/O_499
NET "_ccb_tx<25>" LOC = "AE4"; # I/O_500
NET "_mpc_tx<16>" LOC = "AK22"; # I/O_501
NET "_mpc_tx<17>" LOC = "AN32"; # I/O_502
NET "_mpc_tx<18>" LOC = "AM24"; # I/O_503
NET "_mpc_tx<19>" LOC = "AL23"; # I/O_504
NET "_mpc_tx<20>" LOC = "AM23"; # I/O_505
NET "_mpc_tx<21>" LOC = "AL22"; # I/O_506
NET "_mpc_tx<22>" LOC = "AN30"; # I/O_507
NET "_mpc_tx<23>" LOC = "AJ21"; # I/O_508
NET "_mpc_tx<24>" LOC = "AH19"; # I/O_509
NET "_mpc_tx<25>" LOC = "AP30"; # I/O_510
NET "_mpc_tx<26>" LOC = "AH18"; # I/O_511
NET "dmb_tx<3>" LOC = "AM13"; # I/O_512
NET "dmb_tx<2>" LOC = "AN5"; # I/O_513
NET "dmb_tx<1>" LOC = "AK13"; # I/O_514
NET "dmb_tx<0>" LOC = "AP4"; # I/O_515
NET "_ccb_rx<36>" LOC = "AL12"; # I/O_516
#
NET "gp_io5"    LOC = "AL5";	# I/O_517(/INIT)
NET "gp_io6"    LOC = "AL30";	# I/O_518(WRITE)
NET "gp_io7"    LOC = "AM31";	# I/O_519(/CS)
NET "mez_busy"  LOC = "AM4";	# I/O_520(BUSY)
NET "led_fp<0>" LOC = "AG10";	# I/O_521(D0)
NET "led_fp<1>" LOC = "AH11";	# I/O_522(D1)
NET "led_fp<2>" LOC = "AK7";	# I/O_523(D2)
NET "led_fp<3>" LOC = "AK8";	# I/O_524(D3)
NET "led_fp<4>" LOC = "AK28";	# I/O_525(D4)
NET "led_fp<5>" LOC = "AL29";	# I/O_526(D5)
NET "led_fp<6>" LOC = "AG24";	# I/O_527(D6)
NET "led_fp<7>" LOC = "AG25";	# I/O_528(D7)
#
NET "tmb_clock0"   LOC = "AF18"; # GCLK0
NET "tmb_clock1"   LOC = "AK19"; # GCLK1
NET "alct_rxclock" LOC = "AK17"; # GCLK2
NET "dcc_clock"    LOC = "AG17"; # GCLK3
#     
#NET "/prog_b" LOC = "D30"; # /PROGR
#NET "dxn"     LOC = "F28"; # DXN
#NET "dxp"     LOC = "G27"; # DXP
#     
#NET "tck" LOC = "F7";	# TCK_Pr
#NET "tdi" LOC = "C31";	# TDI_Pr
#NET "tdo" LOC = "D5";	# TDO
#NET "tms" LOC = "E6";	# TMS_Pr
#
NET "meztp20" LOC = "H16";	# meztp20
NET "meztp21" LOC = "AK16";	# meztp21
NET "meztp22" LOC = "E16";	# meztp22
NET "meztp23" LOC = "AF17";	# meztp23
NET "meztp24" LOC = "E18";	# meztp24
NET "meztp25" LOC = "AG18";	# meztp25
NET "meztp26" LOC = "J18";	# meztp26
NET "meztp27" LOC = "AK18"; # meztp27
#
#NET "VRN<0>" LOC = "E27";
#NET "VRN<1>" LOC = "F8";
#NET "VRN<2>" LOC = "K10";
#NET "VRN<3>" LOC = "AL3";
#NET "VRN<4>" LOC = "AJ8";
#NET "VRN<5>" LOC = "AE23";
#NET "VRN<6>" LOC = "AJ30";
#NET "VRN<7>" LOC = "K25";
#
#NET "VRP<0>" LOC = "E28";
#NET "VRP<1>" LOC = "F9";
#NET "VRP<2>" LOC = "K11";
#NET "VRP<3>" LOC = "AK3";
#NET "VRP<4>" LOC = "AK9";
#NET "VRP<5>" LOC = "AE22";
#NET "VRP<6>" LOC = "AH30";
#NET "VRP<7>" LOC = "J25";
#
#----------------------------------------------------------------------------------------------------------
# Special IOs
#----------------------------------------------------------------------------------------------------------
NET "gp_io1" PULLUP;	# FPGA JTAG chain missing pullups on TMB
NET "gp_io2" PULLUP;
NET "gp_io3" PULLUP;
#NET "gp_io4" PULLUP;
NET "mez_done" PULLDOWN;
#
#----------------------------------------------------------------------------------------------------------
# TMB Output Port Drive
#----------------------------------------------------------------------------------------------------------
# CFEB
NET "cfeb_clock_en<*>"	SLEW=FAST | DRIVE=4;
NET "cfeb_oe"			SLEW=FAST | DRIVE=4;

# ALCT 80MHz rx,txa,txb
NET "alct_txa<*>"		IOSTANDARD=LVDCI_33;
NET "alct_txb<*>"		IOSTANDARD=LVDCI_33;

#ALCT static
NET "alct_clock_en"		SLEW=FAST | DRIVE=4;
NET "alct_rxoe"			SLEW=FAST | DRIVE=4;
NET "alct_txoe"			SLEW=FAST | DRIVE=4;
NET "alct_loop"			SLEW=FAST | DRIVE=4;

# DMB
NET "dmb_tx<*>"			SLEW=FAST | DRIVE=4;
NET "dmb_loop"			SLEW=FAST | DRIVE=4;
NET "_dmb_oe"			SLEW=FAST | DRIVE=4;

# MPC
NET "_mpc_tx<*>"		SLEW=FAST;	#revert to 12mA default 10/06/05

# RPC
NET "rpc_loop"			SLEW=FAST | DRIVE=4;
NET "rpc_tx<*>"			SLEW=FAST | DRIVE=4;

# CCB
NET "_ccb_tx<*>"			SLEW=FAST | DRIVE=4;
NET "_gtl_oe"				SLEW=FAST | DRIVE=4;
NET "ccb_status_oe"			SLEW=FAST | DRIVE=4;
NET "_hard_reset_alct_fpga"	SLEW=FAST | DRIVE=4;
NET "_hard_reset_tmb_fpga"	SLEW=FAST | DRIVE=4;
NET "gtl_loop"				SLEW=FAST | DRIVE=4;

# VME
NET "vme_d<*>"		SLEW=FAST | DRIVE=4;
NET "vme_reply<*>"	SLEW=FAST | DRIVE=4;

# JTAG
NET "jtag_usr<*>"	SLEW=FAST | DRIVE=4;
NET "sel_usr<*>"	SLEW=FAST | DRIVE=4;

# PROM
NET "prom_led<*>"	SLEW=FAST | DRIVE=4;
NET "prom_ctrl<*>"	SLEW=FAST | DRIVE=4;	

# Clock
NET "step<*>"		SLEW=FAST | DRIVE=4;

# 3D3444
NET "ddd_clock"		SLEW=FAST | DRIVE=4;
NET "ddd_adr_latch"	SLEW=FAST | DRIVE=4;
NET "ddd_serial_in"	SLEW=FAST | DRIVE=4;

# Status
NET "tmb_sn"	SLEW=FAST | DRIVE=4;
NET "smb_data"	SLEW=FAST | DRIVE=4;
NET "mez_sn"	SLEW=FAST | DRIVE=4;
NET "adc_io<*>"	SLEW=FAST | DRIVE=4;
NET "smb_clk"	SLEW=FAST | DRIVE=4;
NET "mez_busy"	SLEW=FAST | DRIVE=4;
NET "led_fp<*>"	SLEW=FAST | DRIVE=4;

# General Purpose I/Os
NET "gp_io0"	SLEW=FAST | DRIVE=4;
NET "gp_io1"	SLEW=FAST | DRIVE=4;
NET "gp_io2"	SLEW=FAST | DRIVE=4;
NET "gp_io3"	SLEW=FAST | DRIVE=4;
NET "gp_io5"	SLEW=FAST | DRIVE=4;
NET "gp_io6"	SLEW=FAST | DRIVE=4;
NET "gp_io7"	SLEW=FAST | DRIVE=4;

# Mezzanine Test Points
NET "meztp20"	SLEW=FAST | DRIVE=4;
NET "meztp21"	SLEW=FAST | DRIVE=4;
NET "meztp22"	SLEW=FAST | DRIVE=4;
NET "meztp23"	SLEW=FAST | DRIVE=4;
NET "meztp24"	SLEW=FAST | DRIVE=4;
NET "meztp25"	SLEW=FAST | DRIVE=4;
NET "meztp26"	SLEW=FAST | DRIVE=4;
NET "meztp27"	SLEW=FAST | DRIVE=4;

#----------------------------------------------------------------------------------------------------------
# Timing
#----------------------------------------------------------------------------------------------------------
# TMB Main Clock
NET "tmb_clock0" TNM_NET = "tmb_clock0";
TIMESPEC "TS_tmb_clock0" = PERIOD "tmb_clock0" 20 ns HIGH 50 %;

#------------------------------------------------------------------------------------------------------------------
# Digital Phase Shifter multiplexer
#------------------------------------------------------------------------------------------------------------------
INST "uclock_virtex2/ualcttxdmux/*" AREA_GROUP = group_ualcttxdmux;
INST "uclock_virtex2/ualctrxdmux/*" AREA_GROUP = group_ualctrxdmux;
INST "uclock_virtex2/ucfeb0mux/*"   AREA_GROUP = group_ucfeb0mux;
INST "uclock_virtex2/ucfeb1mux/*"   AREA_GROUP = group_ucfeb1mux;
INST "uclock_virtex2/ucfeb2mux/*"   AREA_GROUP = group_ucfeb2mux;
INST "uclock_virtex2/ucfeb3mux/*"   AREA_GROUP = group_ucfeb3mux;
INST "uclock_virtex2/ucfeb4mux/*"   AREA_GROUP = group_ucfeb4mux;

# Confine mux units to 2 slices in a specific 4-slice CLB: FPGA bottom edge
AREA_GROUP "group_ualcttxdmux" RANGE = SLICE_X2Y0:SLICE_X3Y1;			# DCM X0Y0
AREA_GROUP "group_ualctrxdmux" RANGE = SLICE_X34Y0:SLICE_X35Y1;			# DCM X1Y0

# Confine mux units to 2 slices in a specific 4-slice CLB: FPGA top edge
AREA_GROUP "group_ucfeb0mux"   RANGE = SLICE_X138Y158:SLICE_X139Y159;	# DCM X5Y1
AREA_GROUP "group_ucfeb1mux"   RANGE = SLICE_X106Y158:SLICE_X107Y159;	# DCM X4Y1
AREA_GROUP "group_ucfeb2mux"   RANGE = SLICE_X74Y158:SLICE_X75Y159;		# DCM X3Y1
AREA_GROUP "group_ucfeb3mux"   RANGE = SLICE_X34Y158:SLICE_X35Y159;		# DCM X1Y1
AREA_GROUP "group_ucfeb4mux"   RANGE = SLICE_X2Y158:SLICE_X3Y159;		# DCM X0Y1

# Keep other logic out of the 2 unused slices to reduce congestion
AREA_GROUP "group_ualcttxdmux" GROUP = CLOSED;
AREA_GROUP "group_ualctrxdmux" GROUP = CLOSED;
AREA_GROUP "group_ucfeb0mux"   GROUP = CLOSED;
AREA_GROUP "group_ucfeb1mux"   GROUP = CLOSED;
AREA_GROUP "group_ucfeb2mux"   GROUP = CLOSED;
AREA_GROUP "group_ucfeb3mux"   GROUP = CLOSED;
AREA_GROUP "group_ucfeb4mux"   GROUP = CLOSED;

# Ignore timing for DC quadrant select signals
NET uclock_virtex2/hcycle_alct_rxd_ff	TIG;
NET uclock_virtex2/qcycle_alct_rxd_ff	TIG;

NET uclock_virtex2/hcycle_alct_txd_ff	TIG;
NET uclock_virtex2/qcycle_alct_txd_ff	TIG;

NET uclock_virtex2/hcycle_cfeb0_rxd_ff	TIG;
NET uclock_virtex2/qcycle_cfeb0_rxd_ff	TIG;

NET uclock_virtex2/hcycle_cfeb1_rxd_ff	TIG;
NET uclock_virtex2/qcycle_cfeb1_rxd_ff	TIG;

NET uclock_virtex2/hcycle_cfeb2_rxd_ff	TIG;
NET uclock_virtex2/qcycle_cfeb2_rxd_ff	TIG;

NET uclock_virtex2/hcycle_cfeb3_rxd_ff	TIG;
NET uclock_virtex2/qcycle_cfeb3_rxd_ff	TIG;

NET uclock_virtex2/hcycle_cfeb4_rxd_ff	TIG;
NET uclock_virtex2/qcycle_cfeb4_rxd_ff	TIG;

#----------------------------------------------------------------------------------------------------------
# ALCT Transmitter LOCs
#----------------------------------------------------------------------------------------------------------
INST "ualct/ux_mux_alct/din_is_ff_0"			LOC=SLICE_X0Y50:SLICE_X1Y51;	# txa<5>
INST "ualct/ux_mux_alct/din2nd_iobff_hold_0"	LOC=SLICE_X0Y50:SLICE_X1Y51;	# txa<5>

INST "ualct/ux_mux_alct/din_is_ff_1"			LOC=SLICE_X0Y36:SLICE_X1Y37;	# txa<6>
INST "ualct/ux_mux_alct/din2nd_iobff_hold_1"	LOC=SLICE_X0Y36:SLICE_X1Y37;	# txa<6>

INST "ualct/ux_mux_alct/din_is_ff_2"			LOC=SLICE_X0Y56:SLICE_X1Y57;	# txa<7>
INST "ualct/ux_mux_alct/din2nd_iobff_hold_2"	LOC=SLICE_X0Y56:SLICE_X1Y57;	# txa<7>

INST "ualct/ux_mux_alct/din_is_ff_3"			LOC=SLICE_X0Y62:SLICE_X1Y63;	# txa<8>
INST "ualct/ux_mux_alct/din2nd_iobff_hold_3"	LOC=SLICE_X0Y62:SLICE_X1Y63;	# txa<8>

INST "ualct/ux_mux_alct/din_is_ff_4"			LOC=SLICE_X0Y58:SLICE_X3Y123;	# txa<9>
INST "ualct/ux_mux_alct/din2nd_iobff_hold_4"	LOC=SLICE_X0Y58:SLICE_X3Y123;	# txa<9>

INST "ualct/ux_mux_alct/din_is_ff_5"			LOC=SLICE_X0Y50:SLICE_X1Y51;	# txa<10>
INST "ualct/ux_mux_alct/din2nd_iobff_hold_5"	LOC=SLICE_X0Y50:SLICE_X1Y51;	# txa<10>

INST "ualct/ux_mux_alct/din_is_ff_6"			LOC=SLICE_X0Y52:SLICE_X1Y53;	# txa<11>
INST "ualct/ux_mux_alct/din2nd_iobff_hold_6"	LOC=SLICE_X0Y52:SLICE_X1Y53;	# txa<11>

INST "ualct/ux_mux_alct/din_is_ff_7"			LOC=SLICE_X0Y56:SLICE_X1Y57;	# txa<12>
INST "ualct/ux_mux_alct/din2nd_iobff_hold_7"	LOC=SLICE_X0Y56:SLICE_X1Y57;	# txa<12>

INST "ualct/ux_mux_alct/din_is_ff_8"			LOC=SLICE_X0Y62:SLICE_X1Y63;	# txa<13>
INST "ualct/ux_mux_alct/din2nd_iobff_hold_8"	LOC=SLICE_X0Y62:SLICE_X1Y63;	# txa<13>

INST "ualct/ux_mux_alct/din_is_ff_9"			LOC=SLICE_X0Y54:SLICE_X1Y55;	# txa<14>
INST "ualct/ux_mux_alct/din2nd_iobff_hold_9"	LOC=SLICE_X0Y54:SLICE_X1Y55;	# txa<14>

INST "ualct/ux_mux_alct/din_is_ff_10"			LOC=SLICE_X0Y58:SLICE_X3Y123;	# txa<15>
INST "ualct/ux_mux_alct/din2nd_iobff_hold_10"	LOC=SLICE_X0Y58:SLICE_X3Y123;	# txa<15>

INST "ualct/ux_mux_alct/din_is_ff_11"			LOC=SLICE_X0Y52:SLICE_X1Y53;	# txa<16>
INST "ualct/ux_mux_alct/din2nd_iobff_hold_11"	LOC=SLICE_X0Y52:SLICE_X1Y53;	# txa<16>

INST "ualct/ux_mux_alct/din_is_ff_12"			LOC=SLICE_X0Y154:SLICE_X1Y155;	# txa<17>
INST "ualct/ux_mux_alct/din2nd_iobff_hold_12"	LOC=SLICE_X0Y154:SLICE_X1Y155;	# txa<17>

INST "ualct/ux_mux_alct/din_is_ff_13"			LOC=SLICE_X0Y60:SLICE_X1Y61;	# txb<19>
INST "ualct/ux_mux_alct/din2nd_iobff_hold_13" 	LOC=SLICE_X0Y60:SLICE_X1Y61;	# txb<19>

INST "ualct/ux_mux_alct/din_is_ff_14"			LOC=SLICE_X0Y54:SLICE_X1Y55;	# txb<20>
INST "ualct/ux_mux_alct/din2nd_iobff_hold_14"	LOC=SLICE_X0Y54:SLICE_X1Y55;	# txb<20>

INST "ualct/ux_mux_alct/din_is_ff_15"			LOC=SLICE_X0Y48:SLICE_X1Y49;	# txb<21>
INST "ualct/ux_mux_alct/din2nd_iobff_hold_15"	LOC=SLICE_X0Y48:SLICE_X1Y49;	# txb<21>

INST "ualct/ux_mux_alct/din_is_ff_16"			LOC=SLICE_X0Y48:SLICE_X1Y49;	# txb<22>
INST "ualct/ux_mux_alct/din2nd_iobff_hold_16"	LOC=SLICE_X0Y48:SLICE_X1Y49;	# txb<22>

INST "ualct/ux_mux_alct/din_is_ff_17"			LOC=SLICE_X0Y72:SLICE_X1Y73;	# txb<23>
INST "ualct/ux_mux_alct/din2nd_iobff_hold_17"	LOC=SLICE_X0Y72:SLICE_X1Y73;	# txb<23>

#----------------------------------------------------------------------------------------------------------
# ALCT sync stages
#----------------------------------------------------------------------------------------------------------
INST "ualct/ux_mux_alct/*"		AREA_GROUP = group_alct_txd;
INST "ualct/ux_demux_alct/*"	AREA_GROUP = group_alct_rxd;

AREA_GROUP "group_alct_txd"		RANGE = SLICE_X0Y36:SLICE_X3Y73;
AREA_GROUP "group_alct_rxd"		RANGE = SLICE_X0Y74:SLICE_X3Y133;

#------------------------------------------------------------------------------------------------------------------
# CFEB IOB pair shared clock conflict resolution
#	cfeb1_rx0	moves from IOB to fabric
#	cfeb1_rx23
#	cfeb3_rx17
#	cfeb3_rx21
#	cfeb3_rx22
#------------------------------------------------------------------------------------------------------------------
# Assign all cfeb DDRs to IOBs
INST "gencfeb[0].ucfeb/ux_demux_cfeb/din1st_*"  IOB = TRUE;
INST "gencfeb[1].ucfeb/ux_demux_cfeb/din1st_*"  IOB = TRUE;
INST "gencfeb[2].ucfeb/ux_demux_cfeb/din1st_*"  IOB = TRUE;
INST "gencfeb[3].ucfeb/ux_demux_cfeb/din1st_*"  IOB = TRUE;
INST "gencfeb[4].ucfeb/ux_demux_cfeb/din1st_*"  IOB = TRUE;

INST "gencfeb[0].ucfeb/ux_demux_cfeb/din2nd_*"  IOB = TRUE;
INST "gencfeb[1].ucfeb/ux_demux_cfeb/din2nd_*"  IOB = TRUE;
INST "gencfeb[2].ucfeb/ux_demux_cfeb/din2nd_*"  IOB = TRUE;
INST "gencfeb[3].ucfeb/ux_demux_cfeb/din2nd_*"  IOB = TRUE;
INST "gencfeb[4].ucfeb/ux_demux_cfeb/din2nd_*"  IOB = TRUE;

# Unassign conflicting DDRs from IOBs
INST "gencfeb[1].ucfeb/ux_demux_cfeb/din1st_0"  IOB = FALSE;
INST "gencfeb[1].ucfeb/ux_demux_cfeb/din2nd_0"  IOB = FALSE;

INST "gencfeb[1].ucfeb/ux_demux_cfeb/din1st_23" IOB = FALSE;
INST "gencfeb[1].ucfeb/ux_demux_cfeb/din2nd_23" IOB = FALSE;

INST "gencfeb[3].ucfeb/ux_demux_cfeb/din1st_17" IOB = FALSE;
INST "gencfeb[3].ucfeb/ux_demux_cfeb/din2nd_17" IOB = FALSE;

INST "gencfeb[3].ucfeb/ux_demux_cfeb/din1st_21" IOB = FALSE;
INST "gencfeb[3].ucfeb/ux_demux_cfeb/din2nd_21" IOB = FALSE;

INST "gencfeb[3].ucfeb/ux_demux_cfeb/din1st_22" IOB = FALSE;
INST "gencfeb[3].ucfeb/ux_demux_cfeb/din2nd_22" IOB = FALSE;

# Move conflicting cfeb DDRs to fabric
INST "gencfeb[1].ucfeb/ux_demux_cfeb/din1st_0"  LOC = SLICE_X123Y158;
INST "gencfeb[1].ucfeb/ux_demux_cfeb/din2nd_0"  LOC = SLICE_X123Y159;

INST "gencfeb[1].ucfeb/ux_demux_cfeb/din1st_23" LOC = SLICE_X123Y158;
INST "gencfeb[1].ucfeb/ux_demux_cfeb/din2nd_23" LOC = SLICE_X123Y159;

INST "gencfeb[3].ucfeb/ux_demux_cfeb/din1st_17" LOC = SLICE_X21Y158;
INST "gencfeb[3].ucfeb/ux_demux_cfeb/din2nd_17" LOC = SLICE_X21Y159;

INST "gencfeb[3].ucfeb/ux_demux_cfeb/din1st_21" LOC = SLICE_X21Y158;
INST "gencfeb[3].ucfeb/ux_demux_cfeb/din2nd_21" LOC = SLICE_X21Y159;

INST "gencfeb[3].ucfeb/ux_demux_cfeb/din1st_22" LOC = SLICE_X13Y158;
INST "gencfeb[3].ucfeb/ux_demux_cfeb/din2nd_22" LOC = SLICE_X13Y159;

# Minimize pad-to-FF delays for cfeb DDRs forced from IOBs to fabric
NET "cfeb1_rx<0>" 	MAXDELAY = 1.2ns;
NET "cfeb1_rx<23>"	MAXDELAY = 1.2ns;
NET "cfeb3_rx<17>"	MAXDELAY = 1.2ns;
NET "cfeb3_rx<21>"	MAXDELAY = 1.2ns;
NET "cfeb3_rx<22>"	MAXDELAY = 1.2ns;

#------------------------------------------------------------------------------------------------------------------
# CFEB Receiver LOCs
#------------------------------------------------------------------------------------------------------------------
INST "gencfeb[0].ucfeb/ux_demux_cfeb/*" AREA_GROUP = group_cfeb0_rxd;
INST "gencfeb[1].ucfeb/ux_demux_cfeb/*" AREA_GROUP = group_cfeb1_rxd;
INST "gencfeb[2].ucfeb/ux_demux_cfeb/*" AREA_GROUP = group_cfeb2_rxd;
INST "gencfeb[3].ucfeb/ux_demux_cfeb/*" AREA_GROUP = group_cfeb3_rxd;
INST "gencfeb[4].ucfeb/ux_demux_cfeb/*" AREA_GROUP = group_cfeb4_rxd;

# Skir around phaser muxen
AREA_GROUP "group_cfeb0_rxd"	RANGE = SLICE_X114Y156:SLICE_X137Y159, SLICE_X138Y156:SLICE_X139Y157, SLICE_X140Y142:SLICE_X143Y159;
AREA_GROUP "group_cfeb1_rxd"	RANGE = SLICE_X84Y156:SLICE_X105Y159,  SLICE_X106Y156:SLICE_X107Y157, SLICE_X108Y156:SLICE_X113Y159;
AREA_GROUP "group_cfeb2_rxd"	RANGE = SLICE_X54Y156:SLICE_X73Y159,   SLICE_X74Y156:SLICE_X75Y157,   SLICE_X76Y156:SLICE_X83Y159;
AREA_GROUP "group_cfeb3_rxd"	RANGE = SLICE_X24Y156:SLICE_X33Y159,   SLICE_X34Y156:SLICE_X35Y157,   SLICE_X36Y156:SLICE_X53Y159;
AREA_GROUP "group_cfeb4_rxd"	RANGE = SLICE_X0Y134:SLICE_X3Y157,	   SLICE_X0Y158:SLICE_X1Y159,     SLICE_X4Y156:SLICE_X23Y159;

#----------------------------------------------------------------------------------------------------------
# End of TMB2005 UCF
#----------------------------------------------------------------------------------------------------------
